html {
    background-image: url("spring-or-summer-season-abstract-nature-background-free-photo-1613748503.jpg");
}

h1{
    text-align: center;
}

table {
    table-layout: fixed;
    width: 500px;
    height: 600px;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 5px solid black;
    font-size: 50px;
    margin: auto;
    background-color: lightgrey;
}

caption {
    table-layout: fixed;
    height: 70px;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;    
    border: 5px solid black;
    font-size: 50px;
    margin: auto;
    background-color: lightgrey;
}

td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

tr {
    text-align: center;
}

thead {
    border: 2px;
}
