.standard-board { 
    background-image: url("images/ChessBoard.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.position-black {
    fill: white
}

.position-white {
    fill: tan
}

img {
    height: 100px; 
    float: right;
    margin-left: 20px;
}

footer {
    color: tan;
    font-size: large;
    text-align: right;
}

li {
    list-style-type: none;
}

button {
    background-color: tan;
    color: white;
    border: none;
    font-size: larger;
    padding: 10px 20px;
    margin: 20px;
}

header {
    color: tan;
    font-size: xx-large;
    text-align: center;
}
